.header_Con{
    transform: scale(0.5);
}
.header_Con.observerCatch{
    transition: 2s ease-in-out;
    transform: scale(1);
}

.project_Con{
    transition: 2s ease-in-out;
    transform: translateX(-10%) translateY(-10%) scale3d(0.8,0.8,0.8) scale(0.8);
    opacity: 0.5;
}
.project_Con.observerCatch{
    transform: scale(1);
    opacity: 1;
}
