.header_Con{
    transform: scale(0.5);
}
.header_Con.observerCatch{
    transition: 2s ease-in-out;
    transform: scale(1);
}

.project_Con{
    transition: 2s ease-in-out;
    transform: translateX(-10%) translateY(-10%) scale3d(0.8,0.8,0.8) scale(0.8);
    filter: grayscale(100%);
}
.project_Con.observerCatch{
    transform: scale(1);
    opacity: 1;
    filter: grayscale(0%);
}
.observer{
    transition: all 2s ease-in-out;
}
.observer.await{
    transform: translateX(100%) translateY(100%) rotate(180deg);
}
.observer.catch{
    transform: translateX(0%) translateY(0%);
}
