.header_Con{
    transform: scale(0.5);
}
.header_Con.observerCatch{
    transition: 3s ease-in-out;
    transform: scale(0);
}
.project_Con{
    transition: 3s ease-in-out;
    transform: translateX(0%) translateY(0%) scale3d(1,1,1);
}
.project_Con.observerCatch{
    transform: translateX(-10%) translateY(-10%) scale3d(0.5,0.5,0.5);
}
